body {
    font-family: Georgia, serif;
    font-size: 18px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvGh9DHiJ0VTa958D-Oqr61tv7iGUgzi1HkQ&usqp=CAU');
    background-size: cover;
 } 
  img {
    width: 600px;
    margin: 20px;
  }
  .image {
    display: flex;
    justify-content: space-between;
  }